.modal-background{
    width: 100vw;
    height: 100vh;position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container{
    width: 500px;
    min-height: 300px;
    background-color: aliceblue;
    position:relative ;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
    padding: 20px;
}
.modal-title{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  h1{
      font-weight: 300;
      font-size: 16px;
      color:rgb(68, 59, 10);
  }
}
.close-btn{
    position: absolute;
    top:20px;
    right:20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: none;
    cursor: pointer;
    transition: .3 ease all;
    border-radius: 5px;
    color:red;
}