@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
$font-family: "Open Sans", sans-serif;

.modal-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  overflow-y: hidden;
}

.modal-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;

  width: 500px;
  background-color: #ffffff;
  color: black;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.modal-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.modal-container::-webkit-scrollbar:vertical {
  width: 10px;
}

.modal-container::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.modal-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  h1 {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    font-family: $font-family;
  }
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  border-radius: 5px;
  .icon-btn-close {
    width: 1.25rem;
    cursor: pointer;
  }
}
@media (max-width: 900px) {
  .modal-background {
    width: 80vw;
    height: 100vh;
  }
  .modal-container {
    width: 300px;
    max-height: calc(90vh - 200px);
  }

  .modal-title {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
